<tr align="center" id="{{trid}}" class="player-field-data">  
  <td id = "{{trid}}b">
	  <button type="submit" style="font-size:11px; padding:0px 3px;" class="remove-btn-data btn btn-danger btn-xs">X</button>
  </td>  	
  <td class="player-name">
	  {{player_name|default:"No selection"}}
  </td>  
  <td class="club-name">
	  {{club_name|default:""}}
  </td>
  <td class="position-name">
	  {{position_name|default:""}}
  </td>
  <td class="price-value">
	  {{price_value|default:""}}
  </td>  
</tr>