{% extends 'f_team.html' %}
{% block form_content %}
<form name="edit" method="POST" action="{% url 'edit_team' tournament.tourn_format.tourn.tourn_cd tournament.season %}">
{{edit_form.management_form}}
<span id="#form-fields">
{% for form in edit_form %}{% for field in form.hidden_fields %}{{field}}{% endfor %}{% endfor %}
</span>
<br/>
{% csrf_token %}
<div class="col-sm-4 panel panel-primary" style="padding:3px;margin:10px">
    <div class="panel-body" style="padding:5px;">
      <p><label class="control-label">Transfers Made: <span id="trf-made">0</span></label></p>
	  <p>{{edit_meta_form.use_wildcard}} <label class="control-label">Use Wildcard</label></p>
    </div>
</div>
<br/>
<div class="form-group">
<button class="btn btn-primary btn-submit" type="submit" disabled>Make Transfers</button>
</div>

</form>
<div>
	<button class="btn btn-primary btn-reset" onclick="resetTeam()">Reset</button>
</div>
{% endblock %}

{% block form_error %}
{% if edit_form_error.errors or edit_meta_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {% if edit_form_error.errors %}{{edit_form_error.errors}}{% endif %}
  {% if edit_meta_form.errors %}{{edit_meta_form.errors}}{% endif %}
</div>
{% endif %}
{% endblock %}

{% block info %}
<div class="alert alert-info" role="alert">
Transfers Remaining: <span id="#trf-rem">{{remaining.0}} <br/>
Wildcards Remaining: <span id="#wld-rem">{{remaining.1}} 
</div>
<div class="alert alert-info" role="alert">
The changes made for the team will be reflected from Gameweek <strong>{{gameweek}}</strong>. <br/>
Please confirm your changes by <strong>{{lock_date|date:'m-d-Y H:i'}}</strong> for the changes to take effect.
</div>
<div id="alertBox" class="alert alert-danger" role="alert" style="display:none">

</div>
{% endblock %}

{% block select_player_script %}
function selectPlayer(pid, ptype, pname, cost, clubName) {  
  $errorSec = $("#alertBox");    
  var arr = players[ptype];
  var existingArr = existingPlayers[ptype];
  var empty = -1;
  var oldIdx = -1;
  for (var i = arr.length - 1; i >= 0; i--) {
    if (arr[i] == '') {
	  empty = i;
	}	
	if (arr[i].indexOf(pid + ":") == 0) {
		$errorSec.text("Player already selected");
		$errorSec.show();
	  return false;
	}
	if (existingArr[i].indexOf(pid + ":") == 0) {
	  console.log('Player in old team');
	  oldIdx = i;
	  cost = parseFloat(existingArr[i].split(":")[2]);
	}
  }
  if (empty != -1) {
    if (cost > parseFloat($("#available-budget").text())) {
	  $errorSec.text("Not enough budget to select the player");
	  $errorSec.show();	  
	  return false;
	}
	if (oldIdx == -1 || oldIdx == empty) {
      arr[empty] = pid + ":" + pname + ":" + cost + ":" + clubName;
	} else {
	  arr[empty] = arr[oldIdx];
	  arr[oldIdx] = existingArr[oldIdx];
	}
	
	$errorSec.hide();
	return true;
  }  
  $errorSec.text('Already selected ' + arr.length + ' ' + ptype + 's');
  $errorSec.show();  
  return false;
}

function updateForm() {
  current = 0;
  for (var i = 0; i < key.length; i++) {
    var arr = players[key[i]];
	var existingArr = existingPlayers[key[i]];
	for (var j = 0; j < arr.length; j++) {
	  oldId = existingArr[j].split(':')[0];
      newId = arr[j].split(':')[0];
	  if (oldId != newId) {
	    $("#id_form-" + current + "-player_out").val(oldId);
		$("#id_form-" + current + "-player_in").val(newId);
		current++;
	  }
	}
  }
  $("#id_form-TOTAL_FORMS").val(current);
  $("#trf-made").text(current);
  return current == 0;
}
{% endblock %}

{% block extra_script %}
var existingPlayers = {
  'GK': ['{{player_details.g1.0}}:{{player_details.g1.1}}:{{player_details.g1.4}}:{{player_details.g1.2}}'],
  'DF': ['{{player_details.d1.0}}:{{player_details.d1.1}}:{{player_details.d1.4}}:{{player_details.d1.2}}', '{{player_details.d2.0}}:{{player_details.d2.1}}:{{player_details.d2.4}}:{{player_details.d2.2}}', '{{player_details.d3.0}}:{{player_details.d3.1}}:{{player_details.d3.4}}:{{player_details.d3.2}}', '{{player_details.d4.0}}:{{player_details.d4.1}}:{{player_details.d4.4}}:{{player_details.d3.2}}'],
  'MF': ['{{player_details.m1.0}}:{{player_details.m1.1}}:{{player_details.m1.4}}:{{player_details.m1.2}}', '{{player_details.m2.0}}:{{player_details.m2.1}}:{{player_details.m2.4}}:{{player_details.m2.2}}', '{{player_details.m3.0}}:{{player_details.m3.1}}:{{player_details.m3.4}}:{{player_details.m3.2}}', '{{player_details.m4.0}}:{{player_details.m4.1}}:{{player_details.m4.4}}:{{player_details.m4.2}}'],
  'ST': ['{{player_details.f1.0}}:{{player_details.f1.1}}:{{player_details.f1.4}}:{{player_details.f1.2}}', '{{player_details.f2.0}}:{{player_details.f2.1}}:{{player_details.f2.4}}:{{player_details.f2.2}}']
};
resetTeam();

{% endblock %}